<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1> Today </h1>

    <% the_date = Time.now %>

    <p> The date is <%= the_date.strftime("%A, %B %d, %Y") %> </p>
  </body>
</html>

<!-- Wednesday, November 18, 2015 -->
