<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bowling Alley</title>
    <style>
        body {background-color: powderblue; padding: 30px; text-align: center;}
        h1   {color: green; padding: 30px;}
        p    {color: black; padding: 30px;}
    </style>

  </head>
  <body>
    <h1> Buster's Best Bowling Alley</h1>
    <h2> Bet You Can't Bowl A Strike Every Time</h2>
    <p> 97 Bowling Alley Lane, Boulder CO </p>


  </body>
</html>
